:root {
  --primary-color: #232a36;
  --secondary-color: rgba(255, 255, 255, 0.07);
  --paragraph-color: rgba(255, 255, 255, 0.7);
  --branding-color: #39afc9;
  --border: 1px solid var(--branding-color);
}

body {
  background: var(--primary-color);
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  margin: 132px 52px;
}
h1 {
  font-size: 64px;
  font-weight: 600;
  line-height: 64px;
}

h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  margin: 0;
}
h3,
strong {
  color: var(--branding-color);
}
p {
  color: var(--paragraph-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}
a {
  text-decoration: none;
}
.btn-branding {
  background-color: var(--branding-color);
  border: var(--border);
  border-radius: 87px;
  color: white;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  padding: 16px 42px;
}
.btn-branding-outline {
  border: var(--border);
  color: var(--branding-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

nav .btn-branding-outline {
  background-color: rgba(57, 175, 201, 0.07);
  border-radius: 46px;
}

nav .btn-branding-outline:visited {
  color: var(--branding-color);
}

.nav-item {
  font-size: 16px;
  margin: 0 16px;
}

.hero {
  background-color: var(--secondary-color);
  margin: 0 auto;
  height: 574px;
}
.hero .text-section {
  max-width: 640px;
  padding: 84px 0 10px 64px;
}
.hero h3 {
  font-size: 16px;
  font-weight: 800;
  line-height: 21px;
  margin: 0;
}

.hero p {
  margin-bottom: 40px;
}

.hero .image-section {
  padding-right: 60px;
  align-items: flex-end;
  display: flex;
}
#photo {
  max-width: 520px;
}

.skills {
  margin: 0 auto;
  margin-top: 72px;
  max-width: 1120px;
}

.skill-box {
  width: 271px;
  height: 185px;
  background-color: var(--secondary-color);
}

.skill-box img {
  margin-top: 40px;
}
.skill-box p {
  margin-top: 8px;
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--paragraph-color);
}

.certificates {
  background-color: var(--secondary-color);
  margin: 0 auto;
  margin-top: 96px;
  max-width: 1120px;
  height: 475px;
}

.certificates .text-section {
  max-width: 460px;
  padding: 56px 40px;
}
.arrow {
  font-size: 18px;
  --fa-border-padding: 12px;
  --fa-border-radius: 100%;
}
.arrow-branding {
  color: #ffffff;
  background-color: #bcabfe;
  --fa-border-color: #bcabfe;
}
.arrow-branding-outline {
  color: #bcabfe;
  background-color: #3d4052;
  --fa-border-color: #3d4052;
}

.certificates .image-section {
  text-align: center;
  position: relative;
}
.certificate-img {
  border-radius: 10px;
}
.front-img {
  box-shadow: 0 4px 40px 0px rgba(28, 42, 79, 0.42);
  position: absolute;
  max-width: 549px;
  height: 377px;
  top: -30px;
  left: -100px;
}
.next-img {
  position: relative;
  width: 488px;
  max-height: 335px;
  top: 240px;
  left: -76px;
}

@media (max-width: 1200px) {
  #photo {
    max-width: 470px;
  }

  .skill-box {
    max-width: 100%;
  }

  .front-img {
    max-width: 448px;
    height: auto;
    top: -30px;
    left: -82px;
  }
  .next-img {
    max-width: 400px;
    height: auto;
    top: 240px;
    left: -56px;
  }
}

@media (max-width: 992px) {
  body {
    margin-top: 100px;
  }
  nav .btn-branding-outline {
    background-color: transparent;
    border: none;
  }
  .hero {
    text-align: center;
    height: auto;
  }
  .hero .text-section {
    margin: 0 auto;
    padding: 54px 10px;
  }
  .hero h3 {
    font-size: 24px;
    margin: 20px 0 20px 0;
  }
  .hero p {
    margin-left: 30px;
    margin-right: 30px;
  }
  .hero .image-section {
    display: none;
  }

  h2 {
    text-align: center;
  }

  .certificates {
    margin-top: 48px;
    height: auto;
  }

  .certificates .text-section {
    max-width: 100%;
    text-align: center;
    padding: 18px 54px;
  }

  .certificates .image-section,
  .certificate-img {
    position: static;
  }
  .certificates .image-section {
    padding: 0 8px 20px 8px;
  }
  .certificate-img {
    display: inline-block;
    margin: 0 5px;
    height: auto;
  }
  .front-img {
    max-width: 40%;
  }
  .next-img,
  .previous-img {
    max-width: 27%;
    height: auto;
  }
}

@media (max-width: 768px) {
  body {
    margin: 100px 32px;
  }
  .hero h3 {
    margin-top: 0;
  }
  .container {
    max-width: 100%;
  }
  .skills {
    margin-top: 48px;
  }
  .skill-box {
    height: 144px;
  }
  .skill-box img {
    margin-top: 18px;
  }
  .front-img {
    max-width: 90%;
  }
  .next-img,
  .previous-img {
    display: none;
  }
}

@media (max-width: 576px) {
  body {
    margin-top: 90px;
  }
  .hero .text-section {
    padding: 32px 10px 42px 10px;
  }
  .hero h3 {
    font-size: 16px;
    margin-bottom: 12px;
  }
  h1 {
    font-size: 34px;
    font-weight: 600;
    line-height: 42px;
  }
  h2 {
    font-size: 24px;
    line-height: 30px;
  }
  p {
    font-size: 12px;
    line-height: 18px;
    margin: 8px;
  }
  .hero p {
    margin: 12px 16px 24px 16px;
  }
  .btn-branding {
    font-size: 12px;
    line-height: 18px;
    padding: 12px 32px;
    text-decoration: none;
  }
  .arrow {
    font-size: 10px;
    --fa-border-padding: 8px;
  }
  .certificates .text-section {
    padding: 18px 24px;
  }
  .certificates .image-section {
    padding: 0;
    padding-bottom: 16px;
  }
}
