:root {
  --primary-color: #232a36;
  --secondary-color: rgba(255, 255, 255, 0.07);
  --paragraph-color: rgba(255, 255, 255, 0.7);
  --branding-color: #39afc9;
  --border: 1px solid var(--branding-color);
}

body {
  background: var(--primary-color);
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  margin: 132px 52px;
}
h1 {
  font-size: 64px;
  font-weight: 600;
  line-height: 64px;
}

h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  margin: 0;
}

h3,
strong {
  color: var(--branding-color);
}

h4 {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}
p {
  color: var(--paragraph-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}
a {
  text-decoration: none;
}
h2,
h3,
h4,
.btn-branding,
.btn-branding-outline {
  text-transform: uppercase;
}
.btn-branding {
  background-color: var(--branding-color);
  border: var(--border);
  border-radius: 87px;
  color: #ffffff;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  padding: 16px 42px;
}
.btn-branding-outline {
  border: var(--border);
  color: var(--branding-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}
.btn-branding:hover,
.btn-branding-outline:hover {
  color: #ffffff;
}

.hero,
.skill-box,
.certificates,
.contact-me {
  background-color: var(--secondary-color);
}

.hero,
.skills,
.certificates,
.projects,
.contact-me,
footer {
  max-width: 1120px;
  margin: 0 auto;
}
nav .contact-link {
  background-color: rgba(57, 175, 201, 0.07);
  border-radius: 46px;
}

nav .contact-link:visited {
  color: var(--branding-color);
}

.nav-item {
  font-size: 16px;
  margin: 0 16px;
}

.hero {
  height: 574px;
}
.hero .text-section {
  max-width: 640px;
  padding: 84px 0 10px 64px;
}
.hero h3 {
  font-size: 16px;
  font-weight: 800;
  line-height: 21px;
  margin: 0;
}

.hero p {
  margin-bottom: 40px;
}

.hero .image-section {
  padding-right: 60px;
  align-items: flex-end;
  display: flex;
}
#photo {
  max-width: 520px;
}
.html-logo,
.css-logo,
.js-logo {
  max-width: 120px;
}

.html-logo {
  top: 214px;
  left: 10px;
}

.css-logo {
  top: 500px;
  left: 320px;
}

.js-logo {
  top: 276px;
  left: 406px;
}

.skills {
  margin-top: 72px;
}

.skill-box {
  width: 271px;
  height: 185px;
}

.skill-box img {
  margin-top: 40px;
}
.skill-box p {
  margin-top: 8px;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 24px;
  color: var(--paragraph-color);
}

.certificates {
  margin-top: 96px;
  height: 475px;
}

.certificates .text-section {
  max-width: 460px;
  padding: 56px 40px;
}
.arrow {
  font-size: 18px;
  --fa-border-padding: 12px;
  --fa-border-radius: 100%;
}
.arrow-branding {
  color: #ffffff;
  background-color: #bcabfe;
  --fa-border-color: #bcabfe;
}
.arrow-branding-outline {
  color: #bcabfe;
  background-color: #3d4052;
  --fa-border-color: #3d4052;
}

.certificates .image-section {
  text-align: center;
  position: relative;
}
.certificate-img {
  border-radius: 10px;
}
.front-img {
  box-shadow: 0 4px 40px 0px rgba(28, 42, 79, 0.42);
  position: absolute;
  max-width: 549px;
  height: 377px;
  top: -30px;
  left: -100px;
}
.next-img {
  position: relative;
  width: 488px;
  max-height: 335px;
  top: 240px;
  left: -76px;
}

.projects {
  margin-top: 200px;
}

.projects h3 {
  font-size: 14px;
  font-weight: 600;
}

.project-name {
  color: var(--paragraph-color);
}

.projects .text-section {
  max-width: 450px;
}
.launch-button {
  border-radius: 46px;
  padding: 12px 20px;
}
.launch-button:hover {
  color: var(--branding-color);
}

.contact-me {
  margin-top: 100px;
}
.contact-me h2 {
  font-size: 64px;
  font-weight: 600;
  line-height: 64px;
  text-transform: none;
  text-align: left;
}

.phone-icon,
.email-icon {
  font-size: 20px;
  background-color: #3c424d;
  --fa-border-padding: 10px;
  --fa-border-radius: 100%;
  --fa-border-color: #3c424d;
}

.phone-icon {
  --fa-border-padding: 10px 12px;
}
.contact-me .text-section {
  padding: 100px 54px;
}

.contact-me .form-section {
  padding: 100px 80px 100px 0;
  max-width: 520px;
}

.contact-form input {
  background-color: rgba(35, 42, 54, 1);
  border: 1px solid rgba(35, 42, 54, 1);
  color: rgba(193, 196, 199, 1);
}
.contact-form input:focus {
  background-color: rgba(35, 42, 54, 1);
  border: 1px solid rgba(35, 42, 54, 1);
  box-shadow: 0 4px 4px 4px rgba(41, 46, 61, 0.5);
  color: rgba(193, 196, 199, 1);
}
#input-name,
#input-email {
  padding: 20px 24px;
}
#input-subject {
  padding: 24px 20px 60px 20px;
}

.contact-button {
  display: block;
  margin: 0 auto;
  width: 100%;
}

footer {
  display: block;
  text-align: center;
}
.telegram-icon,
.instagram-icon,
.linkedin-icon,
.github-icon {
  font-size: 32px;
  color: #404751;
  margin: 0 6px;
}
.instagram-icon {
  color: var(--branding-color);
}

.telegram-icon:hover,
.linkedin-icon:hover,
.github-icon:hover {
  color: var(--branding-color);
  transition: all 0.3s ease-in-out;
}
.instagram-icon:hover {
  color: #404751;
  transition: all 0.3s ease-in-out;
}

/*RESPONSIVE*/
@media (max-width: 1200px) {
  #photo {
    max-width: 480px;
  }

  .skill-box {
    max-width: 100%;
  }

  .front-img {
    max-width: 448px;
    height: auto;
    top: -30px;
    left: -82px;
  }
  .next-img {
    max-width: 400px;
    height: auto;
    top: 240px;
    left: -56px;
  }
}

@media (max-width: 992px) {
  body {
    margin-top: 100px;
  }
  nav .contact-link {
    background-color: transparent;
    border: none;
  }
  .hero,
  h2 {
    text-align: center;
  }
  .hero,
  .certificates,
  .certificate-img,
  .next-img,
  .previous-img {
    height: auto;
  }
  .hero .text-section {
    margin: 0 auto;
    padding: 54px 10px;
  }
  .hero h3 {
    font-size: 24px;
    margin: 20px 0 20px 0;
  }
  .hero p {
    margin-left: 30px;
    margin-right: 30px;
  }
  .hero .image-section {
    display: none;
  }

  .certificates {
    margin-top: 48px;
  }

  .certificates .text-section {
    max-width: 100%;
    text-align: center;
    padding: 18px 54px;
  }

  .certificates .image-section,
  .certificate-img {
    position: static;
  }
  .certificates .image-section {
    padding: 0 8px 20px 8px;
  }
  .certificate-img {
    display: inline-block;
    margin: 0 5px;
  }
  .front-img {
    max-width: 40%;
  }
  .next-img,
  .previous-img {
    max-width: 27%;
  }

  .projects,
  .contact-me {
    margin-top: 90px;
  }

  .contact-me .text-section,
  .contact-me .form-section {
    padding: 40px 10px;
  }
}

@media (max-width: 768px) {
  body {
    margin: 100px 32px;
  }
  .hero h3 {
    margin-top: 0;
  }
  .container {
    max-width: 100%;
  }
  .skills {
    margin-top: 48px;
  }
  .skill-box {
    height: 144px;
  }
  .skill-box img {
    margin-top: 18px;
  }
  .front-img {
    max-width: 90%;
  }
  .next-img,
  .previous-img {
    display: none;
  }

  .projects .launch-section {
    text-align: right;
  }

  .contact-me h2 {
    font-size: 50px;
    line-height: 52px;
  }
  .contact-me h4 {
    text-align: center;
    font-size: 20px;
  }
  .contact-me p {
    font-size: 14px;
    line-height: 16px;
  }
  .phone-icon,
  .email-icon {
    font-size: 10px;
  }

  #input-name,
  #input-email,
  #input-subject {
    font-size: 12px;
  }
  #input-name,
  #input-email {
    padding: 10px 10px;
  }
  #input-subject {
    padding: 10px 10px 48px 10px;
  }
}

@media (max-width: 576px) {
  body {
    margin-top: 90px;
  }
  .hero .text-section {
    padding: 32px 10px 42px 10px;
  }
  .hero h3 {
    font-size: 16px;
    margin-bottom: 12px;
  }
  h1 {
    font-size: 42px;
    line-height: 44px;
  }
  h2 {
    font-size: 24px;
    line-height: 30px;
  }
  h4 {
    font-size: 18px;
    line-height: 22px;
  }
  p {
    font-size: 12px;
    line-height: 18px;
    margin: 8px;
  }
  .hero p {
    margin: 12px 16px 24px 16px;
  }
  .btn-branding {
    font-size: 12px;
    line-height: 18px;
    padding: 12px 32px;
  }

  .arrow {
    font-size: 10px;
    --fa-border-padding: 8px;
  }
  .certificates .text-section {
    padding: 18px 24px;
  }
  .certificates .image-section {
    padding: 0;
    padding-bottom: 16px;
  }

  .projects {
    margin-top: 46px;
  }
  .projects h3 {
    font-size: 10px;
    margin: 0;
  }
  .project-name {
    margin-bottom: 4px;
  }
  .project-description {
    margin: 0;
  }
  .projects .launch-section {
    text-align: center;
    margin-top: 12px;
  }

  .launch-button {
    font-size: 12px;
    line-height: 18px;
    padding: 8px 24px;
  }

  .contact-me {
    margin-top: 60px;
  }
  .contact-me .text-section {
    padding: 22px 8px 2px 8px;
  }
  .contact-me .form-section {
    padding: 12px 8px 22px 8px;
  }
  .contact-me h2,
  .contact-me p {
    text-align: center;
  }
  .contact-me h2 {
    font-size: 42px;
    line-height: 44px;
  }
  .contact-me h4 {
    font-size: 18px;
  }
  .contact-me p {
    font-size: 12px;
    line-height: 18px;
  }

  .phone-number,
  .email {
    margin: 0 auto;
  }
}
